/*The text is italized for the animal's interesting fact*/
.interesting-fact{
	font-style: italic; 
}
/*The labels are bolded for the animal’s list items.*/
.item{
	font-weight: bold;
}
/*The dots are removed from the animal's list items.*/
ul{
	list-style-type: none;
	padding-left: 0;
}
.card-container{
	/*Uses border around animal’s name, image, and information (interesting fact, list items, and description).*/
	border: 1px solid #e5e8e8;
	/*Uses spacing between animal’s name, image, and information.*/
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	/*Card width should be fixed and include the spacing around the image (Since image is 300px wide, card should be 300px + spacing on either side. Card should not expand with the browser window).*/
	width: 300px;
	box-shadow: 5px 5px 0px #D0ECE7;
	/*The next command is used to set a background color to the card*/
	background-color: #73C6B6;
	/*The next command is used to give style to the borders of the card*/
	border-radius: 5px;
}
.animal-information{
	/*Uses border around animal’s information.*/
	border: 1px solid #e5e8e8;
	/*Uses spacing between animal’s name, image, and information.*/
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	/*The next command is used to give style to the animal information*/
	color: #FDFEFE;
	/*The next command is used to give style to the borders of the animal information*/
	border-radius: 5px;
}
img{
	/*Uses spacing between animal’s name, image, and information.*/
	padding-bottom: 10px;
	padding-top: 5px;
	padding-right: 10px;
	border-radius: 5px;
}
.animal-name{
	/*The next command gives style to the name of the animal*/
	color: #FDFEFE;
}